<header class="intro-header">
  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img mask rgba-black-white">
      <div class="container flex-center">
        <div class="row  w-100">
          <div class="col-md-12 text-center tittle_div">
            <!-- <div class="text-center tittle_div"> -->
            <h2 @slideDownFirst class="h1 h1-reponsive  font-up font-bold mb-3 wow fadeInDown tittle"
              data-wow-delay="0.3s"><strong>
                Mzanzi <br> College <br> Challenge
              </strong></h2>
            <!-- </div> -->
          </div>
          <!-- <div class="col-1"></div> -->
          <div class="col-md-12 text-center tittle_p_div">
            <h5 @slideUp class="font-up mb-5 wow tittle_p fadeInDown" data-wow-delay="0.4s"><strong>The Home of
                College
                Sports</strong></h5>
          </div>
          <div class="col-md-12 text-center">
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<!--Main Navigation-->





<div class="parallax1_section">

  <div class="container">

    <div class="row">

      <div class="rellax_div_1 col-md-4 col-lg-4 col-sm-12 col-xs-12">
<!-- 
        <h1 class="main_tittle">

          We are

        </h1> -->

      </div>

    </div>

      
    </div> 
  
  </div>


<mdb-card class="right_devider">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3  font-bold"><strong>
          A college space platform that integrates sports and academia
        </strong></h2>
    </div>
  </div>
</mdb-card>