@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
// @import 'layout/grid';

:host {
  display: block;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

// Header section
.intro-header {
  height: unset !important;

  .view {
    @include onDesktop {
      background-color: color(mcc_dark);
      background-repeat: no-repeat;
      background-size: cover;
      clip-path: circle(63.9% at 50% 5%);
      height: 120vh !important;
    }

    @include onIpadPro {
    }

    @include onIpad {
    }

    @include onIphoneX {
    }

    @include onIphone5 {
    }

    @include onIphone2 {
    }

    @include onPhone {
      background-color: color(mcc_dark);
    }

    .tittle_div {
      .tittle {
        @include onDesktop {
          font-size: 5em;
          text-align: center;
          font-family: Multi;
          color: color(mcc_white);
          padding-top: 0em;
          margin-top: -2em;
        }
        @include onIpadPro {
          font-size: 6em;
          text-align: center;
          padding-top: 0em;
          margin-top: -6em;
        }

        @include onIpad {
          font-size: 4em;
          text-align: center;
          padding-top: 0em;
          margin-top: -6em;
        }

        @include onIphoneX {
          font-size: 3em;
          text-align: center;
          padding-top: 0em;
          margin-top: -6.6em;
        }

        @include onIphone6_7_8 {
          font-size: 3em;
          text-align: center;
          padding-top: 0em;
          margin-top: -6em;
        }

        @include onIphone5 {
          font-size: 2em;
          padding-top: 0em;
          margin-top: -7em;
        }

        @include onIphone2 {
        }

        @include onPhone {
          font-size: 2em;
          padding-top: 0em;
          margin-top: -7em;
        }
      }
    }

    .landing_link {
      text-align: left;
    }

    .tittle_p_div {
      // border-left: solid 2px color(mcc_primary);
      .tittle_p {
        @include onDesktop {
          position: relative;
          color: color(mcc_white);
          float: center;
        }
        @include onIpadPro {
          margin-top: -6em;
          font-size: 2em;
        }

        @include onIpad {
          //  margin-top: -6em;
          font-size: 4em;
          font-size: 1em;
        }

        @include onIphoneX {
        }

        @include onIphone6_7_8 {
          margin-top: -5em;
        }

        @include onIphone5 {
        }

        @include onIphone2 {
        }

        @include onPhone {
          padding: 0;
          // float: left;
          // margin-left: -2em;
          color: color(mcc_white);
        }
      }
    }
  }
}

// New section
.parallax1_section {
  padding-top: 4em;
  // height: 100vh;
  @include onDesktop {
    }
  @include onIpadPro {
  }

  @include onIpad {
  }

  @include onIphoneX {
  }

  @include onIphone6_7_8 {
  }

  @include onIphone5 {
  }

  @include onIphone2 {
  }

  @include onPhone {
  }

  .rellax_div_1{
    position: relative;
    background-color: #f1f7fa;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  }



  .main_tittle {
    font-size: 4em;
    color: color(mcc_dark);

    @include onDesktop {
    }
    @include onIpadPro {
    }

    @include onIpad {
    }

    @include onIphoneX {
    }

    @include onIphone6_7_8 {
    }

    @include onIphone5 {
    }

    @include onIphone2 {
    }

    @include onPhone {
    }
  }
}

.right_devider {
  position: absolute;
  background-color: color(mcc_primary);
  float: right;
}

//   .navbar:not(.top-nav-collapse) {
//   background: transparent !important;
// }

h1 {
  letter-spacing: 8px;
  opacity: 0;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}
