<header class="header">
  <a class="menu_trigger">
    <i @slideDownAfter class="fas fa-bars" (click)="openMenu();" type="button"></i>
   </a>
</header>


<div class="menu_overlay">

  <a class="menu_close">
    <i class="fas fa-times-circle" (click)="closeMenu();" type="button"></i>
  </a>
  <div class="container">
    <div class="row">

      <div class="col-12-lg menu_options">
        <ul class="menu_options_list">
          <li class="menu_item"><a>About Us</a></li>
          <li class="menu_item"><a>Partners</a></li>
          <li class="menu_item"><a>Sponsors</a></li>
          <li class="menu_item"><a>Tournament</a></li>
        </ul>
      
      </div>

    </div>

  </div>

</div>