<mat-sidenav-container class="sidenav-container" >
    
  <mat-sidenav mode="over" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"  [opened] = "mobileQuery.matches ? false : true" role="navigation" >
      <div class="sidenav-logo-container">
          <app-logo></app-logo>
      </div>
      <mat-nav-list>
           <app-nav-menu-item *ngFor="let navigationItem of getNavigationItems()"
                             [navigationItem]="navigationItem">
            </app-nav-menu-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <app-nav-toollbar [activePage]="getActivePage()"
                       (logout)="logout()"
                       (click)="snav.toggle()"
                       [previousUrl]="getPreviousUrl()"></app-nav-toollbar>
                       
      <router-outlet></router-outlet>
  </mat-sidenav-content>

  
</mat-sidenav-container>
<!-- (toggleSideNav)="toggleSideNav()" -->
