<mat-sidenav-container class="sidenav-container">
    
  <mat-sidenav mode="side" [opened]="isOpen" role="navigation" >
      <div class="sidenav-logo-container">
          <app-logo></app-logo>
      </div>
      <mat-nav-list>
           <app-nav-menu-item *ngFor="let navigationItem of getNavigationItems()"
                             [navigationItem]="navigationItem">
            </app-nav-menu-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <app-nav-toollbar [activePage]="getActivePage()"
                       (toggleSideNav)="toggleSideNav()"
                       (logout)="logout()"
                       [previousUrl]="getPreviousUrl()"></app-nav-toollbar>
                       
      <router-outlet></router-outlet>
  </mat-sidenav-content>

  
</mat-sidenav-container>
