$custom_colors:(
    mcc_primary:rgb(45, 109, 151),
    mcc_primary_dark: #051015,
    mcc_primary_darken:(darken(rgb(45, 109, 151), 20%)),
    mcc_light:lighten(#051015,10%),
    mcc_dark:rgb(18, 35, 46),
    mcc_white: #ffff,
    mcc_white_shadded:seashell,  
    mcc_transparent_nav:rgba(0,0,0,0.2),
    mcc_purple:rgba(82, 5, 56, 0.884)
);


$desktop: 1366px;
$ipadPro: 1024px;
$ipad: 768px;
$iphoneX_6_7_8_plus: 414px;
$iphone_2_xl:411px;
$iphoneX_6_7_8:375px;
$phone: 360px;

$iphone_5_se_android: 320px;


